

h4{
    
    text-align: right;
}



.p{
    text-align: center;

}
h4{
    text-align: center;
}
div{
    text-align: center

}
#text{
    text-align: right;
    position: absolute;
     


}
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
      
  }
  .top_right{
      position: top_right;
      color:#EC4067
    
  }
  img{
      width: 200px;
      height: 200px;
      align-items: horizontal: ;
      float:backdrop;


  }
  
  
div{
    align-items: horizontal;
    text-align: horizontal;
    float: left right;
    


}
.parent-div {

align-self: right;

display: flex;

align-items: top_right;

}
.type{
    background-color: #EC4067;
}
#nav_bar ol {
    list-style: none;
    padding: 1em 0;
    align= right: 1em o;
    
  }
  #nav_bar ol {
    display: inline;
  }
  #nav_bar a {
    padding: 1em 2em;

    
  }


  <style>
  .image-container{
      justify-content: center;
      display: flex;
      flex-direction: row;float: right;


  }
  img{
      align:middle;
  }
  .img_item{
	width: 200px;
}
.left{
   float: horizontal; 
}
<style>
.images-container{
    display:flex;
    justify-content: center;
}
.image-container img{
    margin-left: 5px;
    margin-right: 5px;
}
</style>

}
.left{
    float: left;
}
.right{
    float: right;
}