

h4{
    
    text-align: right;
}



.p{
    text-align: center;

}
h4{
    text-align: center;
}
div{
    text-align: center

}
#text{
    text-align: right;
    position: absolute;
     


}
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
      
  }
  .top_right{
      position: top_right;
      color:#EC4067
    
  }
  img{
      width: 200px;
      height: 200px;
      align-items: horizontal: ;

  }
  
  
div{
    align-items: horizontal;
    text-align: center;

}
div{
    text-align: center;
}