

h4{
    
    text-align: right;
}



.p{
    text-align: center;

}
h4{
    text-align: center;
}
div{
    text-align: center

}
#text{
    text-align: right;
    position: absolute;
     background-color: #EC4067


}
