

body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.contain{
    padding: 0 50px;
    
}
.wrapper{
    padding: 50px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.navbar-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    font-size: 14px;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin-right: 25px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    
}
li:hover{
    font-weight: 400;
    transform: scale(1.1 1.5s ease);
}
.top-button{
    display: flex;
   
}
.enroll-button{
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    background-color: #EC4067;
    color: white;
    font-weight: 300;
    font-size: 18px;
    cursor: pointer;
   
    
}
.enroll-button:hover{
    background-color: red;
    transform: scale(1.1 1.5s ease);
}
.colored{
    color: #EC4067;

}
/* ABOUT SECTION */
.about{
    display: flex;
    align-items: center;
}
.info-contain{
    flex: 1;
    
}
.info-img{
    flex: 1;
    overflow: hidden;
}
.first-img{
    width: 100%;
    object-fit: cover;
}
p.top{
    font-weight: 500;
    
}
.about-title{
    font-size: 30px;
    font-weight: 300;
}
p.bottom{
    font-weight:300 ;
    width: 80%;
}
.about-first-button{
    background-color: #EC4067;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    
}
.about-first-button:hover{
    background-color: red;
    transform: scale(1.1 1.5s ease);
}
.about-second-button{
    color: #EC4067;
    background-color: white;
    padding: 8px 28px;
    border:1px solid #EC4067;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    margin:10px ;
}
.about-second-button:hover{
    
    border:2px solid #EC4067;
    transform: scale(1.1 1.5s ease);
}
/* SECTION CSS */
.section-top-text{
    font-size: 12px;
    font-weight: 300;
    margin-left: 5px;
}
.section-contain{
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 40px;
}
.section-wrapper{
    padding: 60px 40px 0;
}
.info-contain{
    flex: 1;
    box-sizing: border-box;
}
.info-text{
    font-weight: 300;  
}

.img{
    flex: 1;
    box-sizing: border-box;
    position: relative;
}
.section-img{
   width: 100%;
   object-fit: cover;
}
.section-title{
    margin-right: 10px;
    font-weight: 500;
    font-size: 22px;
}
.section-span{
    background-color: #F5F5F7;
}

.submit-button{
    background-color: #EC4067;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    margin:10px 0;

}
.submit-button:hover{
    background-color: red;
    transform: scale(1.1 1.5s ease);
}


/* STORIES SECTION */

.stories-info{
    display: flex;
    align-items: center;
    
    
}
.stories{
    position: relative;
}
.stories-info .section-top-text{
    vertical-align: sub;
}
.stories-top-span{
    display: flex;
    position: absolute;
    color: white;
    top: 0;
    right: 10px;
    z-index: 7;
    font-size:12px;
    font-weight: 300;
}
.stories-bottom-span{
    display: flex;
    position: absolute;
    color: white;
    bottom:20px;
    left: 10px;
    z-index: 6;
    font-size:12px;
    font-weight: 300;
}
/* BOARD SECTION */
.board{
    position: relative;
}
.board-top-span{
    display: flex;
    position: absolute;
    color: white;
    top: 0;
    left: 10px;
    z-index: 7;
    font-size:12px;
    font-weight: 300;
}
.board-bottom-span{
    display: flex;
    position: absolute;
    color: white;
    bottom:20px;
    right: 10px;
    z-index: 6;
    font-size:12px;
    font-weight: 300;
}
/* GRADUATION SECTION */
.graduation{
    position: relative;
}
/* MENTOR SECTION */
.mentors{
    margin-top: 50px;
    overflow: hidden;
    
}
.mentors .section-top-text{
    vertical-align:super ;
}
.mentors{
    display: flex;
    padding: 10px 20px 0;
}
.mentor-wrapper{
    margin-left: 20px;
    width: 200px;
}
.mentors-title-contain{
    display: flex;
    
}

.mentor-info-title{
    /* display: flex; */
    position: relative;
}
.mentor-img{
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}
.mentor-name{
    color:white;
    position: absolute;
    bottom: 0;
    left: 0;
}
.mentor-role{
    color: #EC4067;
}
.mentor-button{
    background-color: #EC4067;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 300;
    margin:10px 0;

}
.mentor-button:hover{
    background-color: red;
    transform: scale(1.1 1.5s ease);
}
.mentor-info-contain{
    padding: 0 5px
}
.mentor-bottom-text{
    font-weight: 200;
    font-size: 14px;
}

/* PROJECT SECTION */
.project-section{
    margin-top: 50px;
    overflow: hidden;
}
.project{
    display: flex;
    align-items: center;
}
.project-container .section-top-text{
    vertical-align: baseline;
}
.project-wrapper{
    display: flex;
}


.project-span{
    font-weight: 600;
}
.project-title{
    color:#EC4067;
    font-weight: 300;
    font-size: 30px;
}
.project-text{
    font-weight: 200;
    
}

.project-img{
    width:100%;
    object-fit: cover;
}

/* CONTACT SECTION */
.contact{
    margin-top: 80px;
}
.contact-title{
    color: #EC4067;
    font-weight: 500;
}
.enroll-button,.contact{
    margin:0 10px ;
    display: flex;
 
}
.contact-menu{
    display: flex;
    align-items: center;
}
.contact-link{
    text-decoration: none;
    color: #EC4067;
}

/* FOOTER SECTION */
.footer{
    margin-top: 40px;
    background-color: #F5F5F7;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text{
    font-weight: 300;
}
a{
    text-decoration:none !important;
    color: black;
    
}